.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
    font-size: 20px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.blockInfo {
  display: flex;
  align-items: center;
}
.blockInfo__userName {
  margin-right: 10px;
}